@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 2500px;
    width: 100vw;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    top: 0;
    position: fixed;
    height: 45px;
    width: 100%;
    padding-top: 5px;
    z-index: 1;
    background-color: #24292e;
}
  
.nav-bar-header {
    font-size: 32px;
    margin-left: 5%;
    color: #fff;
    font-weight: 400;
}

.nav-bar-ul {
    list-style: none;
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    margin-right: 5%;
}
  
.nav-bar-items {
    margin-right: 1em;
    margin-left: 1em;
}

.nav-bar-icons {
    color: #fff;
}

.nav-bar-icons:link {
    text-decoration: none;
}

.nav-bar-icons:hover {
    color: #f04e23;
}

.sections-nav-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width: 25vw;
    padding-right: 5vw;
  }

.sections-nav {
    display: flex;
    flex-direction: column;
    height: 25vh;
    font-size: 22px;
    font-weight: 100;
    color: #7D8587;
    position: fixed;
  }

.sections-link {
    cursor: pointer;
}

.section-text {
    font-family: 'Roboto', sans-serif;
}

.section-selected {
    color: #191A1B;
    -webkit-transition: color 1s;
    transition: color 1s;
}

.section-displayed-div {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 2vw;
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

.about, .projects, .contact {
    margin-top: 10vh;
    max-width: 740px;
    min-width: 60%;
}

.about-h1, .projects-h1, .contact-h1 {
    font-size: 6vmin;
    font-weight: 300;
    margin-bottom: 5vh;
}

.about-p {
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
}

.projects-nav {
    display: flex;
    flex-direction: row;
    width: 1000px;
}

.projects li:first-child {
    margin-right: 3vw;
}

.project-name {
    font-weight: 300;
    font-size: 24px;
}

.project-vids {
    box-shadow: 1px 1px 2px 2px #888888;
    max-width: 275px;
    margin-bottom: 20px;
}

.contact-form {
    font-size: 3vmin;
}

.error {
    color: red;
}

.success {
    color: green;
}


@media screen and (min-width: 768px) {

}