@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  top: 0;
  position: fixed;
  background-color: #f4f4f4;
  height: 40px;
  width: 100%;
  padding-top: 5px;
  z-index: 1;
}

.nav-bar-header {
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  margin-left: 20px;
}

.nav-bar-ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  padding-top: 15px;
  margin-right: 5px;
}

.nav-bar-items {
  margin-left: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.main-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.sections-nav-div {
  position: fixed;
  bottom: 0%;
  height: 50px;
  width: 100%;
  background-color: #f4f4f4;
  font-size: 16px;
  z-index: 1;
}

.sections-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
}

.sections-nav-items {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

.sections-nav-items:last-child {
  margin-right: 5px;
}

.section-displayed-div {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

.about-h1, .projects-h1, .contact-h1 {
  font-weight: 300;
  font-size: 10vmin;
}

.about {
  height: 60vh;
}

.about-h1 {
  margin-bottom: 20px;
  font-size: 12vmin;
}

.about-p {
  font-size: 5vmin;
  font-weight: 300;
}

.projects {
  height: 85vh;
}

.projects-h1 {
  margin-top: 10px;
  margin-bottom:20px;
  text-align: center;
}

.project-li {
  margin-bottom: 20px;
}

.project-li:last-of-type {
  margin-bottom: 75px;
}

.project-name {
  text-align: center;
  font-size: 5vmin;
  font-weight: 100;
  width: 100%;
}

hr {
  margin-top:0;
  width: 15%;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-images {
  width: 100%;
  box-shadow: 1px 1px 1px 1px #888888;
}

.contact {
  width: 100%;
  height: 70vh;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .nav-bar-header {
    font-size: 22px;
    margin-left: 30px;
  }

  .nav-bar-ul {
    font-size: 16px;
  }

  .nav-bar-items {
    margin-right: 20px;
  }

  .sections-nav-div {
    height: 50px;
    font-size: 24px;
  }

  .project-images {
    width: 90%;
  }

  .contact-form {
    font-size: 30px;
    font-weight: 300;
  }

  .form-control {
    font-size: 24px;
    font-weight: 100;
  }

}