@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

.container {max-width:100%;}

body {
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  top: 0;
  position: fixed;
  background-color: #24292e;
  height: 40px;
  width: 100%;
  padding-top: 5px;
  z-index: 1;
}

.nav-bar-header {
  font-size: 28px;
  font-weight: 400;
  margin-left: 2.5vh;
  color: #fff;
}

.nav-bar-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  margin-right: 1vh;
  margin-bottom: 0;
}

.nav-bar-items {
  margin-left: 1vh;
  margin-right: 1.5vh;
  font-size: 3vmin;
}

.nav-bar-icons {
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.sections-nav-div {
  position: fixed;
  bottom: 0%;
  height: 10vw;
  width: 100%;
  background-color: #24292e;
  font-size: 16px;
  z-index: 1;
}

.sections-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
}

.sections-nav-items {
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  color: #fff;
}

.sections-nav-items:last-child {
  margin-right: 5px;
}

.section-text {
  font-family: 'Roboto', sans-serif;
}

.section-selected {
  color: #f04e23;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.section-displayed-div {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.about, .projects, .contact {
  margin-top: 10vh;
}

.about-h1, .projects-h1, .contact-h1 {
  font-weight: 300;
  font-size: 10vmin;
  margin-bottom: 15px;
}

.about-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
}

 .about-p {
  font-size: 20px;
  font-weight: 300;
}

.projects {
  height: 85vh;
}

.projects-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-li {
  margin-bottom: 20px;
}

.project-li:last-of-type {
  margin-bottom: 75px;
}

.project-name {
  text-align: center;
  font-size: 5vmin;
  font-weight: 100;
  width: 100%;
}

hr {
  margin-top:0;
  width: 15%;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-images {
  max-width: 412px;
  box-shadow: 1px 1px 1px 1px #888888;
}

.contact {
  width: 100%;
  height: 70vh;
}

.error {
  color: red;
}

.success {
  color: green;
}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .nav-bar-container {
    height: 50px;
  }

  .nav-bar-header {
    font-size: 36px;
    margin-left: 30px;
  }

  .nav-bar-ul {
    font-size: 16px;
  }

  .nav-bar-items {
    margin-right: 20px;
    font-size: 2.5vmin;
  }

  .sections-nav-div {
    height: 50px;
    font-size: 3vmin;
    padding-bottom: 5px;
  }

  .about-h1, .projects-h1, .connect-h1 {
    font-size: 8vmin;
  }

  .about {
    max-width: 80%;
  }

  .about-p {
    font-size: 4vmin;
  }

  .project-images {
    width: 70vw;
  }

  .contact {
    max-width: 70%;
  }

  .contact-form {
    font-size: 30px;
    font-weight: 300;
  }

  .form-control {
    font-size: 24px;
    font-weight: 100;
  }

}