body {}

.nav-bar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  height: auto;
  padding-top: 5px;
}

.nav-bar-header {
  font-size: 30px;
}

.nav-bar-ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  padding-top: 15px;
}

.nav-bar-items {
  margin-left: 7px;
  margin-right: 7px;
}

.main-container {
  display: flex;
  flex-direction:column;
}

.sections {
  position: fixed;
  bottom: 0%;
  height: 7%;
  width: 100%;
  background-color: #fff;
  padding-top: 10px;
}

.sections-nav {}

.section-nav-items {}

h1 {}

.about {
  margin-top: 60px;
}

.about-h1 {}

.about-p {}

.projects {}

.projects-h1 {}

.projects-nav {}

.project-images {}

.contact {}

.contact-h1 {}

.contact-form {}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
