body {}

.nav-bar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #D3D3D3;
  height: 50px;;
  padding-top: 5px;
}

.nav-bar-header {
  font-size: 30px;
}

.nav-bar-ul {
  list-style: none;
  display: flex;
  list-style-type: none;
  padding-top: 15px;
}

.nav-bar-items {
  margin-left: 7px;
  margin-right: 7px;
}

.main-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.sections-nav-div {
  position: fixed;
  bottom: 0%;
  height: 7%;
  width: 100%;
  background-color: #D3D3D3;

}

.sections-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
}

.sections-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;

}

.section-displayed-div {
  /*display: -ms-flexbox;
  display: -webkit-flex;*/
  display: flex;

  /*-ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;*/
  align-items: center;
  justify-content: center;
}

.about, .projects, .contact {
  margin-top: 60px;
  height: 100%;
}

.about {

}

.about-h1 {}

.about-p {}

.projects {}

.projects-h1 {}

.projects-nav {}

.project-images {}

.contact {
  width: 100%;
}

.contact-h1 {}

.contact-form {}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
